		<div class="inner">
			<h1><a href="/"><img src="/images/logo.png" alt="GENESYS LAB" /></a></h1>
			<div class="top_menu clfix">
				<% if ( session.isLogined == true ) { %>
						<% if (session.iskakao) { %>
							<span style="line-height:20px;">
<strong><%= session.user_name %></strong>님<br>Login with Kakao
						<% } else { %>
							<span>
							<strong><%= session.user_name %></strong>님<br>
						<% } %>
				  </span>
				  <span class="tm1">
				    <a href="/logout">
							로그아웃
						</a>
				  </span>
					<span class="tm2" style="width:10px;color:#005dab;">|</span>
        <% } else { %>
					<span class="tm1"><a href="javascript:void(0)" onclick="window.open('/loginForm', 'welcome', 'width=500, height=550, menubar=no, status=no')">로그인</a></span>
					<span class="tm2" style="width:10px;color:#005dab;">|</span>
				<% } %>
				<span class="tm1"><a href="/">홈</a></span>
				<span class="tm2" style="width:10px;color:#005dab;">|</span>
				<span class="tm1"><a href="/sub.ejs?tbl=contact">오시는길</a></span>
				<span class="tm2" style="width:10px;color:#005dab;">|</span>
				<span class="tm1"><a href="/sub.ejs?tbl=sitemap">사이트맵</a></span>
			</div><!--// top_menu -->
			<ul id="gnb" class="clfix">
	<li><a href="/sub.ejs?tbl=info">회사소개</a>
		<ul class="gnb_2depth gnb_2depth1">
			<li><a href="/sub.ejs?tbl=info" style="font-size:12px">회사소개</a></li>
			<li><a href="/sub.ejs?tbl=history">회사연혁</a></li>
			<li><a href="/sub.ejs?tbl=org">조직구조</a></li>
		</ul>
	</li>
	<li><a href="/sub.ejs?tbl=product">제품</a>
		<ul class="gnb_2depth gnb_2depth2">
			<li><a href="/sub.ejs?tbl=product">제품전체</a></li>
			<li><a href="/kakaoPay" target="_blank">결제테스트</a></li>
			<li><a href="https://smartstore.naver.com/customlaboratory" target="_blank">쇼핑몰 바로가기</a></li>
		</ul>
	</li>
	<li><a href="/sub.ejs?tbl=service">서비스</a>
		<ul class="gnb_2depth gnb_2depth3">
			<li><a href="/sub.ejs?tbl=service">서비스소개</a></li>
			<li><a href="/sub.ejs?tbl=case">서비스사례</a></li>
		</ul>
	</li>
	<li><a href="/sub.ejs?tbl=reference">레퍼런스</a>
	</li>
	<li><a href="/board.ejs?tbl=1&pageNum=1">커뮤니티</a>
		<ul class="gnb_2depth gnb_2depth5">
			<li><a href="/board.ejs?tbl=1&pageNum=1">공지사항</a></li>
			<li><a href="/board.ejs?tbl=2&pageNum=1">갤러리</a></li>
                        <li><a href="/board.ejs?tbl=3&pageNum=1">문의하기</a></li>

		</ul>
	</li>
</ul><!--// gnb -->

<script type="text/javascript">
	$('#gnb > li').hover(function(){
		$(this).find('.gnb_2depth').stop(true,true).fadeIn();
	}, function(){
		$(this).find('.gnb_2depth').stop(true,true).fadeOut();
	});
</script>		</div><!--// inner -->
