		<div class="inner">
			<h1><a href="/"><img src="/images/logo.png" alt="GENESYS LAB" /></a></h1>
			<div class="top_menu clfix">
				<% if ( session.isLogined == true ) { %>
                                  <span class="tm1">
				    <strong><%= session.user_name %></strong>님
				  </span>
				  <span class="tm3">
				    <a href="/logout">로그아웃</a>
				  </span>
                                <% } %>
				<span class="tm1"><a href="/"><img src="/images/home.png" alt="" />홈</a></span>
				<span class="tm2"><a href="/sub.ejs?tbl=contact">오시는길</a></span>
				<span class="tm3"><a href="/sub.ejs?tbl=sitemap">사이트맵</a></span>
			</div><!--// top_menu -->
			<ul id="gnb" class="clfix">
	<li><a href="/sub.ejs?tbl=info">회사소개</a>
		<ul class="gnb_2depth gnb_2depth1">
			<li><a href="/sub.ejs?tbl=info" style="font-size:12px">회사소개</a></li>
			<li><a href="/sub.ejs?tbl=history">회사연혁</a></li>
			<li><a href="/sub.ejs?tbl=org">조직구조</a></li>
		</ul>
	</li>
	<li><a href="/sub.ejs?tbl=product">제품</a>
		<ul class="gnb_2depth gnb_2depth2">
			<li><a href="https://smartstore.naver.com/customlaboratory" target="_blank">쇼핑몰 바로가기</a></li>
		</ul>
	</li>
	<li><a href="/sub.ejs?tbl=service">서비스</a>
		<ul class="gnb_2depth gnb_2depth3">
			<li><a href="/sub.ejs?tbl=service">서비스소개</a></li>
			<li><a href="/sub.ejs?tbl=case">서비스사례</a></li>
		</ul>
	</li>
	<li><a href="/sub.ejs?tbl=reference">레퍼런스</a>
	</li>
	<li><a href="/board.ejs?tbl=1&pageNum=1">커뮤니티</a>
		<ul class="gnb_2depth gnb_2depth5">
			<li><a href="/board.ejs?tbl=1&pageNum=1">공지사항</a></li>
			<li><a href="/board.ejs?tbl=2&pageNum=1">갤러리</a></li>
                        <li><a href="/board.ejs?tbl=3&pageNum=1">문의하기</a></li>

		</ul>
	</li>
</ul><!--// gnb -->

<script type="text/javascript">
	$('#gnb > li').hover(function(){
		$(this).find('.gnb_2depth').stop(true,true).fadeIn();
	}, function(){
		$(this).find('.gnb_2depth').stop(true,true).fadeOut();
	});
</script>		</div><!--// inner -->

<!-- <li class="-qHwcFXhj0">
<a href="/customlaboratory/products/5381389750" class="_3BkKgDHq3l N=a:all.product linkAnchor">
<div class="MClmEyr46E">
</div>
<div class="_2Yq8Q_jTJv">
<div class="_3VHN1dJCno">
<div class="_2JNWBGd-04 _3uKZ70Wwcp EnqpMc_sIs _3nJcVYiGGz">
<img class="_25CKxIKjAk" src="https://shop-phinf.pstatic.net/20210204_192/1612434215347Ks6zA_PNG/13569995059645003_904950177.png?type=f295_381" alt="MDF 무제한 커팅 홀가공 서비스 diy 원목 목재 재단 구입 합판 맞춤절단 CNC"/>
</div>
</div>
</div>
<strong class="QNNliuiAk3">MDF 무제한 커팅 홀가공 서비스 diy 원목 목재 재단 구입 합판 맞춤절단 CNC</strong>
<div class="_23DThs7PLJ">
<strong>
<span class="nIAdxeTzhx">2,000</span>원</strong>
<span class="_45HSXeff1y">
<span class="blind">할인 전 가격</span>
<span class="nIAdxeTzhx">50,000</span>원</span>
<strong class="pT4bw14aV2">96<!-- -->%
<span class="blind">할인</span></strong></div>
<p class="vChbm1yu9U"></p></a>
<button class="_2VV5LOGs4M N=a:all.mylist" type="button" aria-pressed="false"><span class="blind">찜하기</span></button>
<div class="_1xFgNBb3ny">
<div class="_3d4Fbvg-FB">
<button class="w4FKPHIubP _2hntKzve_P N=a:all.mylist2" type="button" aria-pressed="false">
<span class="blind">찜하기</span></button>
<button type="button" class="w4FKPHIubP _2cirHZtgd_ N=a:all.simple"><span class="blind">상품 간략보기</span></button>
</div>
</div>
</li> -->
